body{
    margin: 0 auto;
    border: 1px solid black;
    width: 80%;
    height: auto;
    text-align: center;
    color: rgb(68, 68, 68);
}

header{
    border: 1px solid white;
    width: 100%;
    height: auto;
    background-color: aliceblue;
}

section input{
    width: 200px;
    padding: 20px;
}

section button{
    border: 1px solid black;
    width: 100px;
    height: 6vh;
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
}

section{
    padding: 10px;
    border: 1px solid black;
}

main{
    text-align: center;
}

div{
    background-color: rgb(219, 246, 247);
    border: 1.5px solid black;
    width: 200px;
    height: 200px;
    float: left;
    margin: 20px 20px;
    border-radius: 10px;
    
}

footer, footer a{
    padding: 4px;
    background-color: aliceblue;
    clear: both;
    text-decoration: none;
}